*{
    margin: 0;
    padding: 0;
}
.content-7-li{
    text-align: left;
}
.content-7 img{
    margin: 2vh;
}
.course_det{
    align-items:center;
    justify-content: left;
}

.content-img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.content{
    flex-basis: 50%;
    padding: 0 20px;
    text-align: center;
}
.content-img img{
    flex-basis: 50%;
    max-width: 100%;
}
@media screen and (max-width: 768px) {
    .content-img {
      flex-direction: column;
    }
  
    .content-img img {
      flex-basis: 100%;
    }
  
    .content {
      flex-basis: 100%;
    }
  }